// dashboard styling



.image-list {
    .sub-container {
        display: flex;
      }
      
      .searchbox {
          flex-grow: 8;
      }
      
      .btn-builder {
          flex-grow: 1;
      }
}

