// header style//
    div {
        span:first-child {
                color: red;
                font-size: 20px;
                font-weight: 600;
            }
            span:last-child {
                color: #6435c9;
                font-size: 20px;
                font-weight: 600;
            }
        
       
    
    }
